html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: hsl(210, 40%, 98%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

